# Final Report

# Introduction

e

# Methods and Results

In [1]:
#Imports
import altair as alt
import pandas as pd
import numpy as np

from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn import set_config
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import GridSearchCV, cross_validate
from sklearn.neighbors import KNeighborsClassifier

# Some are unnecessary (come back after finishing to eliminate ones we didn't use

In [2]:
# Reading in the dataset and minimal wrangling to tidy data:
url = "https://drive.google.com/uc?export=download&id=1Mw9vW0hjTJwRWx0bDXiSpYsO3gKogaPz"
pd.read_csv(url)
players_data =  pd.read_csv(url)

#get rid of empty columns
players = players_data[["experience", "subscribe", "played_hours", "age"]]
players_data

,experience,subscribe,hashedEmail,played_hours,name,gender,age,individualId,organizationName
0,Pro,True,f6daba428a5e19a3d47574858c13550499be23603422e6...,30.3,Morgan,Male,9,NaN,NaN
1,Veteran,True,f3c813577c458ba0dfef80996f8f32c93b6e8af1fa9397...,3.8,Christian,Male,17,NaN,NaN
2,Veteran,False,b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3...,0.0,Blake,Male,17,NaN,NaN
3,Amateur,True,23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4f...,0.7,Flora,Female,21,NaN,NaN
4,Regular,True,7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb...,0.1,Kylie,Male,21,NaN,NaN
...,...,...,...,...,...,...,...,...,...
191,Amateur,True,b6e9e593b9ec51c5e335457341c324c34a2239531e1890...,0.0,Bailey,Female,17,NaN,NaN
192,Veteran,False,71453e425f07d10da4fa2b349c83e73ccdf0fb3312f778...,0.3,Pascal,Male,22,NaN,NaN
193,Amateur,False,d572f391d452b76ea2d7e5e53a3d38bfd7499c7399db29...,0.0,Dylan,Prefer not to say,17,NaN,NaN
194,Amateur,False,f19e136ddde68f365afc860c725ccff54307dedd13968e...,2.3,Harlow,Male,17,NaN,NaN
195,Pro,True,d9473710057f7d42f36570f0be83817a4eea614029ff90...,0.2,Ahmed,Other,91,NaN,NaN

In [ ]:
#SPLIT DATASET INTO TRAINING AND TESTING DATA

test_size=0.25

In [ ]:
#EDA ON TRAINING DATA ONLY (as per ta comment)
    #make 3 scatter plots?/histograms to explore data using only training dataset (sim to proposal)

In [3]:
#PREPARE FOR MODELLING
    #classification + regression ws and tuts --> 
        #look for preprocessor, knn_model, knn_pipeline, pipeline, etc

#1. assign target variable = y = "subscribe"

# 2. assign predictors = x = "experience", "played_hours", "age"
        # split into the 3 predictor pairs, one pair per model
#2.5 
X_train = train_df[predictor_pair]
Y_train=...

#3. preprocessor step to standardize numeric predictor columns

#4. declare model (knn classifier)
knn_model = KneighborsClassifier()

#5. pipeline
knn_pipeline = make_pipeline(preprocessor, knn_model)

#6. param_grid 

#7. GridSearch

NameError: name 'KneighborsClassifier' is not defined

In [ ]:
#BUILD 3 KNN MODELS TO EVALUATE
    #use tut style scaffolding to make 3 pairs
    # use this step to find best pair
        # predict accuracy (find accuracy score) --> classification chap
        #also find precision score here to pick best model

#are we using confusion matrix?

In [ ]:
#EVALUATE THE MOST ACCURATE/PRECISE PAIR ON THE TEST DATA

# Discussion

e

# References (Optional)