# Final Report

# Introduction

e

# Methods and Results

In [1]:
#Imports
import altair as alt
import pandas as pd
import numpy as np

from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn import set_config
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import GridSearchCV, cross_validate
from sklearn.neighbors import KNeighborsClassifier

# Some are unnecessary (come back after finishing to eliminate ones we didn't use

In [4]:
# Reading in the dataset and minimal wrangling to tidy data:
url = "https://drive.google.com/uc?export=download&id=1Mw9vW0hjTJwRWx0bDXiSpYsO3gKogaPz"
pd.read_csv(url)
players_data =  pd.read_csv(url)

#get rid of empty columns
players = players_data[["experience", "subscribe", "played_hours", "age"]]
players

    experience  subscribe  played_hours  age
0          Pro       True          30.3    9
1      Veteran       True           3.8   17
2      Veteran      False           0.0   17
3      Amateur       True           0.7   21
4      Regular       True           0.1   21
..         ...        ...           ...  ...
191    Amateur       True           0.0   17
192    Veteran      False           0.3   22
193    Amateur      False           0.0   17
194    Amateur      False           2.3   17
195        Pro       True           0.2   91

[196 rows x 4 columns]

In [9]:
#CONVERT EXPERIENCE TO NUMERICAL VALUES

players.loc[:,"experience"] = players["experience"].replace({
    "Amateur": 1,
    "Beginner": 2,
    "Regular": 3,
    "Pro": 4,
    "Veteran": 5 })

players

     experience  subscribe  played_hours  age
0             4       True          30.3    9
1             5       True           3.8   17
2             5      False           0.0   17
3             1       True           0.7   21
4             3       True           0.1   21
..          ...        ...           ...  ...
191           1       True           0.0   17
192           5      False           0.3   22
193           1      False           0.0   17
194           1      False           2.3   17
195           4       True           0.2   91

[196 rows x 4 columns]

In [10]:
#SPLIT DATASET INTO TRAINING AND TESTING DATA

test_size=0.25

In [ ]:
#EDA ON TRAINING DATA ONLY (as per ta comment)
    #make 3 scatter plots?/histograms to explore data using only training dataset (sim to proposal)

In [3]:
#PREPARE FOR MODELLING
    #classification + regression ws and tuts --> 
        #look for preprocessor, knn_model, knn_pipeline, pipeline, etc

#1. assign target variable = y = "subscribe"

# 2. assign predictors = x = "experience", "played_hours", "age"
        # split into the 3 predictor pairs, one pair per model
#2.5 
X_train = train_df[predictor_pair]
Y_train=...

#3. preprocessor step to standardize numeric predictor columns

#4. declare model (knn classifier)
knn_model = KneighborsClassifier()

#5. pipeline
knn_pipeline = make_pipeline(preprocessor, knn_model)

#6. param_grid 

#7. GridSearch

NameError: name 'KneighborsClassifier' is not defined

In [ ]:
#BUILD 3 KNN MODELS TO EVALUATE
    #use tut style scaffolding to make 3 pairs
    # use this step to find best pair
        # predict accuracy (find accuracy score) --> classification chap
        #also find precision score here to pick best model

#are we using confusion matrix?

In [ ]:
#EVALUATE THE MOST ACCURATE/PRECISE PAIR ON THE TEST DATA

# Discussion

e

# References (Optional)