# Final Report

# Introduction

To help a research group target their recruitment efforts we will answer

# Methods and Results

In [26]:
#Imports
import altair as alt
import pandas as pd
import numpy as np

from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn import set_config
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import GridSearchCV, cross_validate
from sklearn.neighbors import KNeighborsClassifier

from sklearn.model_selection import (
    GridSearchCV,
    RandomizedSearchCV,
    cross_validate,
    train_test_split,
)

# Some are unnecessary (come back after finishing to eliminate ones we didn't use

In [27]:
# Reading in the dataset and minimal wrangling to tidy data:
url = "https://drive.google.com/uc?export=download&id=1Mw9vW0hjTJwRWx0bDXiSpYsO3gKogaPz"
pd.read_csv(url)
players_data =  pd.read_csv(url)

#get rid of empty columns
players = players_data[["experience", "subscribe", "played_hours", "age"]]
players

    experience  subscribe  played_hours  age
0          Pro       True          30.3    9
1      Veteran       True           3.8   17
2      Veteran      False           0.0   17
3      Amateur       True           0.7   21
4      Regular       True           0.1   21
..         ...        ...           ...  ...
191    Amateur       True           0.0   17
192    Veteran      False           0.3   22
193    Amateur      False           0.0   17
194    Amateur      False           2.3   17
195        Pro       True           0.2   91

[196 rows x 4 columns]

In [30]:
#CONVERT EXPERIENCE TO NUMERICAL VALUES

players.loc[:,"experience"] = players["experience"].replace({
    "Amateur": 1,
    "Beginner": 2,
    "Regular": 3,
    "Pro": 4,
    "Veteran": 5 })

players

/tmp/ipykernel_100/2837797175.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  players.loc[:,"experience"] = players["experience"].replace({

    experience  subscribe  played_hours  age
0            4       True          30.3    9
1            5       True           3.8   17
2            5      False           0.0   17
3            1       True           0.7   21
4            3       True           0.1   21
..         ...        ...           ...  ...
191          1       True           0.0   17
192          5      False           0.3   22
193          1      False           0.0   17
194          1      False           2.3   17
195          4       True           0.2   91

[196 rows x 4 columns]

In [33]:
#SPLIT DATASET INTO TRAINING AND TESTING DATA

players_train, players_test = train_test_split(players, test_size=0.25, random_state=123) # set the random state to be 123

players_train

    experience  subscribe  played_hours  age
100          1       True           0.0   20
10           5       True           1.6   23
149          1       True           0.0   16
171          2      False           1.8   32
178          1       True           0.4   17
..         ...        ...           ...  ...
17           1       True          48.4   17
98           1      False           0.0   17
66           5      False           0.1   22
126          2       True           0.7   24
109          1       True           0.1   17

[147 rows x 4 columns]

In [34]:
#EDA ON TRAINING DATA ONLY (as per ta comment)
    #make 3 scatter plots?/histograms to explore data using only training dataset (sim to proposal)
    # i asked ta and she said we can copy from smos indiv proposal !!! (so use based on wtv histogram we wen t over last tut)

In [56]:
#build preprocessor

players_preprocessor_1 = make_column_transformer(
    (StandardScaler(), ["experience", "played_hours"]),
    remainder='passthrough', 
    verbose_feature_names_out=False
)

players_preprocessor_2 = make_column_transformer(
    (StandardScaler(), ["experience", "age"]),
    remainder='passthrough', 
    verbose_feature_names_out=False
)

players_preprocessor_3 = make_column_transformer(
    (StandardScaler(), ["played_hours", "age"]),
    remainder='passthrough', 
    verbose_feature_names_out=False
)


#build knn classifier
knn_spec = KNeighborsClassifier(n_neighbors=3)

X1 = players_train[["experience", "played_hours"]]
X2 = players_train[["experience", "age"]]
X3 = players_train[["played_hours", "age"]]
y = players_train["subscribe"]

players_fit_1 = make_pipeline(players_preprocessor_1, knn_spec).fit(X1, y)
players_fit_2 = make_pipeline(players_preprocessor_2, knn_spec).fit(X2, y)
players_fit_3 = make_pipeline(players_preprocessor_3, knn_spec).fit(X3, y)

In [47]:
#PREPARE FOR MODELLING
    #classification + regression ws and tuts --> 
        #look for preprocessor, knn_model, knn_pipeline, pipeline, etc

#1. assign target variable = y = "subscribe" --> in above cell

# 2. assign predictors = x = "experience", "played_hours", "age"
        # split into the 3 predictor pairs, one pair per model
#2.5 
X_train = train_df[predictor_pair]
Y_train=...

#3. preprocessor step to standardize numeric predictor columns
    #in above cell


#4. declare model (knn classifier)
knn_model = KneighborsClassifier()

#5. pipeline
knn_pipeline = make_pipeline(preprocessor, knn_model)

#6. param_grid 

#7. GridSearch

NameError: name 'train_df' is not defined

In [ ]:
#BUILD 3 KNN MODELS TO EVALUATE
    #use tut style scaffolding to make 3 pairs
    # use this step to find best pair
        # predict accuracy (find accuracy score) --> classification chap
        #also find precision score here to pick best model

#are we using confusion matrix?

In [ ]:
#EVALUATE THE MOST ACCURATE/PRECISE PAIR ON THE TEST DATA

# Discussion

e

# References (Optional)